#container {
  border: 48px solid red;
  border-bottom: 80px solid red;
  border-radius: 16px;
  display: inline-block;
}

.cell {
  border: 1px solid black;
  height: 10px;
  width: 10px;
}

.row {
  display: flex;
}