#container {
  padding: 4px 32px 64px;
  background: red;
  border-radius: 16px;
  display: flex;
  width: 768px;
  height: 512px;
  flex-direction: column;
}

.cell {
  width: 100%;
  transition: 0.7;
  background: white;
  flex: 1 1 auto;
}

.row {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: stretch;
}

.Btn {
  padding: 4px 25px;
  margin: 4px;
  background: pink;
  border: none;
  border-radius: 4px;
}

.settingsForm {
  display: flex;
  background: white;
  position: fixed;
  top: 16px;
  justify-items: center;
  align-items: center;
  visibility: hidden;
  border: 4px solid black;
  border-radius: 4px;
  padding: 8px;
  justify-content: center;
}

.formRow {
  display: flex;
  justify-content: center;
  margin: 8px;
}

#show {
  visibility: visible;
}

.formComponent {
  margin: 0px 4px;
}